@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --green:#1a535c;
    --light-green:#4ecdc4;
    --white:#f7fff7;
    --pink:#ff6b6b;
    --yellow:#ffe66d;
    --header-light:#abc5ab;
    --main-color:#f7fff7;
    --sec-color:#1a535c;
}
*,*::before,*::after{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: color 1s ease;
    transition: fill 1s ease;
}
body{
    background-color: var(--main-color);   
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
header{
    display: flex;
    background-color: var(--sec-color);
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: var(--main-color);
    margin-left: 1rem;
}
header svg{
    width: 30px;
    cursor: pointer;
    margin-right: 1rem;
}
header svg path{
    fill: var(--main-color);
}
.name-cont input{
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 1.2rem;
    max-width: 122px;
    font-weight: bold;
    border: 1px solid var(--pink);
}
.name-cont h2{
    cursor: pointer;
    min-width: 122px;
    border: 1px solid transparent;
}

.heading-cont h2, .heading-cont h1{
    font-weight: bold;
    font-size: 1.2rem;
}
.heading-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: var(--yellow);
}
.main-content-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 600px;
    flex: 1;
    overflow-x: hidden;
}
.main-content-cont .spanner{
    min-height: clamp(80px,5vw,200px);
    min-width: clamp(80px,5vw,200px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease;
    overflow: hidden;
}
.spanner svg{
    width: 100%;
}
.player-icon-cont, .computer-icon-cont{
    min-width: 200px;
}
.p_svg{
    transform: rotateX(0deg) rotateY(180deg) rotateZ(270deg);
}
.comp_svg{
    transform: rotateX(0deg) rotateY(180deg) rotateZ(90deg);
}
.svg_comp{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.score-board-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-width: clamp(150px,5vw,200px);
    min-height: 400px;
    max-height: 550px;
    overflow: auto;
}

.score{
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.2rem 0;
}
.score span{
    font-size: 2rem;
    padding: 0.6rem;
}
.winner{
    background-color: greenyellow;
    width: 100%;
    text-align: center;
}
.loser{
    background-color: red;
    width: 100%;
    text-align: center;
}
footer{
    background-color: var(--sec-color);
    min-height: 100px;
    bottom: 0;
    width: 100%;
}
footer img{
    width: clamp(50px,5vw,100px);
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}
footer img:hover{
    transform: rotate(90deg);
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.score-shower{
    z-index: 9;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color:var(--green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.score-shower>*{
    color: #ffe66d;
}
.score-shower span{
    color: var(--light-green);
}
.none{
    display: none;
}
@media (max-width:557px){
    .player-icon-cont, .computer-icon-cont{
        min-width: 10px;
    }
}
@media (max-width:337px){
    .main-content-cont svg{
        width: 40px;
    }
}